@page
@using Razor.Pages.Movies
@model IndexModel

<div class="container" style="padding-top: 35px">
    <a asp-page="/Movies/Add" class="btn btn-success">Добавить</a>

    <form method="post">
        <input type="date" min="@DateTime.Now" max="@Model.MaxDateMovie" />
        <p>Поиск фильма
            <input type="text" asp-for="SearchTitleMovie"  value="" />
            <input type="submit" />
        </p>
    </form>

    <div class="row row-cols-4">
        @foreach(var movie in Model.Movies)
        {
            <div class="col" style="margin-top:20px">
                <div class="card" style="width: 18rem; height: 350px">
                    <img src="@movie.URL" class="card-img-top" alt="@movie.Title">
                    <div class="card-body">
                        <h5 class="card-title">@movie.Title</h5>
                       
                        <div class="d-flex justify-content-between">
                            <a asp-page="/Movies/Delete" asp-route-id="@movie.Id" class="btn btn-primary">Удалить</a>
                            <a asp-page="/Movies/Details" asp-route-id="@movie.Id" class="btn btn-primary">Купить билет</a>
                        </div>
                        <div>
                            <a asp-page="/Movies/Edit" asp-route-id="@movie.Id" class="btn btn-primary">Редактировать</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>