@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Razor.Pages.Movies.IndexModel;

<div class="container" style="padding-top: 35px">
    <a asp-page="/Movies/Create" class="btn btn-success">Добавить</a>
    <div class="row row-cols-4">
        @foreach(var movie in MovieLibrary.MovieStorage.Movies)
        {
            <div class="col" style="margin-top:20px">
                <div class="card" style="width: 18rem; height: 350px">
                    <img src="@movie.URL" class="card-img-top" alt="@movie.Title">
                    <div class="card-body">
                        <h5 class="card-title">@movie.Title</h5>
                        <p class="card-text">@movie.Cost ₽</p>
                        <div class="d-flex justify-content-between">
                            <a asp-page="/Movies/Details" asp-route-id="@movie.Id" class="btn btn-primary">Купить билет</a>
                            <a asp-page="/Movies/Edit" asp-route-id="@movie.Id" class="btn btn-primary">Редактировать</a>
                            <a asp-page="/Movies/Delete" asp-route-id="@movie.Id" class="btn btn-primary">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>