@page
@model Razor.Pages.HallsCinema.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HallCinema[0].CountRows)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HallCinema[0].CountSeatc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.HallCinema) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CountRows)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountSeatc)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.NumberHall">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.NumberHall">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.NumberHall">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
