@page
@model Razor.Pages.Shedules.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Shedule</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shedule.StartFilm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shedule.StartFilm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shedule.EndFilm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shedule.EndFilm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shedule.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shedule.Cost)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Shedule.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
